[Unit]
Description=Monitoring script for process "test"
After=network.target

[Service]
ExecStart=/usr/local/bin/monitor_test.sh
RestartSec=10
User=root

[Install]
WantedBy=multi-user.target